<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="class main-content">
         {{>header}}
    <img src="img/MSP_0472-min (2).jfif" alt="Abhinav image">
    </div>
   <p>This site uses weatherstack API to predict the weather</p>
    {{!-- <p>Created by: {{name}}</p> --}}
    <p>Created by: {{name}}</p>
    {{>footer}}
</body>
</html>