<body>
<div style="position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 0, 0);
   color: white;
   text-align: center;">
<h4 >This Application was made by Abhinav, and this is the footer, constant for every page!!
</h4>
<h3 style=>Created by :{{name}}</h3>
<h4>&#169; abhinav-2022</h4>
</div>
    
</body>