<body>
<div style="background-color: rgb(0, 0, 0); text-align:center; color:aliceblue"><br> ABHINAV WEBSITE
    <br>
    <br>
</div>
<h1>{{title}}</h1>


<div>
    <a class="two" href="/">WEATHER</a>
    <a class="two" href="/about">About</a>
    <a class="two" href="/help">Help</a>
</div>
</body>